# This template generates ~/.config/chezmoi/chezmoi.toml

[git]
    autoCommit = true
    autoPush = true

[diff]
    command = "smerge"
    args = [
        "mergetool",
        "{{ "{{" }} .Destination {{ "}}" }}",
        "{{ "{{" }} .Target {{ "}}" }}"
    ]
{{ if ne (lookPath "delta") "" }}
    pager = "delta"
    pagerArgs = ["--light"]
{{ end }}

[merge]
    command = "smerge"
    args = [
        "mergetool",
        "{{ "{{" }} .Target {{ "}}" }}",
        "{{ "{{" }} .Destination {{ "}}" }}",
        "{{ "{{" }} .Source {{ "}}" }}",
        "-o",
        "{{ "{{" }} .Source {{ "}}" }}"
    ]
