general.import = ["~/.config/alacritty/themes/themes/catppuccin_latte.toml"]

[env]
TERM = "xterm-256color"

[terminal]
shell.program = "zsh"
shell.args = ["-l", "-c", "zellij attach -c"]

[window]
padding.x = 5
padding.y = 5
startup_mode = "Maximized"

decorations = "none"

[font]
normal.family = "MesloLGS NF"
normal.style = "Regular"
{{- if eq .chezmoi.os "darwin" }}
size = 16
{{- end}}

[keyboard]
bindings = [
{ key = "F11", action = "ToggleFullscreen" }
