{
    // Editor:
    "editor.folding": false,
    "editor.inlineSuggest.enabled": true,
    "editor.minimap.enabled": false,
    "extensions.ignoreRecommendations": true,
    "extensions.autoCheckUpdates": false,
    "extensions.autoUpdate": false,
    "explorer.confirmDelete": false,
    "window.autoDetectColorScheme": true,
    "diffEditor.renderSideBySide": false,
    "breadcrumbs.enabled": false,
    "window.titleBarStyle": "native",
    "window.menuStyle": "native",
    "window.menuBarVisibility": "toggle",
    "workbench.activityBar.location": "hidden",
    "workbench.statusBar.visible": true,
    "workbench.sideBar.location": "right",
    "workbench.settings.editor": "json",
    "workbench.layoutControl.type": "both",
    "workbench.layoutControl.enabled": false,
    "workbench.startupEditor": "none",
    "workbench.editor.enablePreview": true,
    "workbench.editor.enablePreviewFromCodeNavigation": true,
    "workbench.editor.enablePreviewFromQuickOpen": false,
    "workbench.editor.limit.enabled": true,
    "workbench.editor.limit.value": 10,
    "editor.formatOnType": false,
    "editor.formatOnSave": true,
    "editor.wordWrap": "on",
    "editor.fontLigatures": true,
    "editor.fontSize": 14,
    "editor.stickyScroll.enabled": false,
    "editor.hover.delay": 1200,
    "editor.renderWhitespace": "all",
    "editor.smoothScrolling": true,
    "editor.cursorBlinking": "blink",
    "editor.matchBrackets": "near",
    "security.workspace.trust.banner": "never",
    "security.workspace.trust.untrustedFiles": "open",
    "security.workspace.trust.enabled": false,
    // Files
    "files.autoGuessEncoding": true,
    "files.associations": {
        ".csproj": "msbuild"
    },
    "files.exclude": {
        "**/.DS_Store": true,
        "**/node_modules": true,
        "**/bower_components": true,
        "**/__pycache__": true,
        "**/.cache": true,
        "**/.idea": true,
        "**/.pytest_cache": true,
        "**/.ipynb_checkpoints": true,
        "**/.mypy_cache": true,
        "**/.venv": true,
        "**/.coverage": true,
        "**/*.py[co]": true,
        "**/htmlcoverage": true,
        "**/docs/build": true,
        "**/bin": true,
        "**/obj": true,
        "**/log": true,
        "**/logs": true,
        "**/lcov.info": true,
        "**/CoverageResults": true,
        "**/TestResults": true,
        "**/*.zip": true
    },
    "files.autoSave": "onFocusChange",
    "files.watcherExclude": {
        "**/.git/objects/**": true,
        "**/.git/subtree-cache/**": true,
        "**/node_modules/**": true,
        "**/.hg/store/**": true,
        "**/bin/**": true,
        "**/obj/**": true,
        "**/.vs/**": true,
        "**/packages/**": true,
        "**/.nuget/**": true,
        "**/TestResults/**": true,
        "**/test-results/**": true,
        "**/coverage/**": true,
        "**/*.exe": true,
        "**/*.dll": true,
        "**/*.pdb": true,
        "**/*.cache": true,
        "**/.dotnet/**": true,
        "**/publish/**": true,
        "**/wwwroot/lib/**": true,
        "**/__pycache__/**": true,
        "**/*.pyc": true,
        "**/*.pyo": true,
        "**/*.pyd": true,
        "**/venv/**": true,
        "**/env/**": true,
        "**/.venv/**": true,
        "**/.env/**": true,
        "**/site-packages/**": true,
        "**/.pytest_cache/**": true,
        "**/.coverage": true,
        "**/htmlcov/**": true,
        "**/.tox/**": true,
        "**/dist/**": true,
        "**/build/**": true,
        "**/*.egg-info/**": true
    },
    "search.exclude": {
        "**/node_modules": true,
        "**/bower_components": true,
        "**/*.code-search": true,
        "**/bin": true,
        "**/obj": true
    },
    // Telemetry
    "telemetry.telemetryLevel": "off",
    // Terminal
    "terminal.integrated.shellIntegration.enabled": false,
    "terminal.integrated.defaultProfile.linux": "zsh",
    // Git
    "git.autofetch": false,
    "git.confirmSync": false,
    "scm.graph.pageSize": 25,
    // Theme
    "workbench.iconTheme": "vs-minimal",
    "workbench.preferredLightColorTheme": "Default Light Modern",
    // C#
    "omnisharp.enableDecompilationSupport": true,
    "omnisharp.enableLspDriver": true,
    "dotnet.inlayHints.enableInlayHintsForIndexerParameters": true,
    "dotnet.inlayHints.enableInlayHintsForLiteralParameters": true,
    "dotnet.inlayHints.enableInlayHintsForObjectCreationParameters": true,
    "dotnet.inlayHints.enableInlayHintsForOtherParameters": true,
    "dotnet.inlayHints.enableInlayHintsForParameters": true,
    "dotnet.inlayHints.suppressInlayHintsForParametersThatDifferOnlyBySuffix": true,
    "dotnet.inlayHints.suppressInlayHintsForParametersThatMatchArgumentName": true,
    "dotnet.inlayHints.suppressInlayHintsForParametersThatMatchMethodIntent": true,
    "csharp.debug.justMyCode": true,
    "csharp.debug.console": "integratedTerminal",
    "csharp.debug.symbolOptions.searchMicrosoftSymbolServer": false,
    "csharp.debug.symbolOptions.searchNuGetOrgSymbolServer": false,
    "csharp.debug.logging.moduleLoad": false,
    "csharp.suppressBuildAssetsNotification": true,
    "csharp.inlayHints.enableInlayHintsForImplicitVariableTypes": false,
    "csharp.inlayHints.enableInlayHintsForImplicitObjectCreation": false,
    "csharp.inlayHints.enableInlayHintsForLambdaParameterTypes": false,
    "csharp.inlayHints.enableInlayHintsForTypes": false,
    "csharp.format.enable": true,
    "csharp.showOmnisharpLogOnError": true,
    "csharp.suppressHiddenDiagnostics": false,
    "debug.onTaskErrors": "showErrors",
    "debug.console.collapseIdenticalLines": false,
    "search.searchOnType": false,
    "window.commandCenter": false,
    "git.openRepositoryInParentFolders": "never",
{{- if and (hasKey . "mssql") .mssql.server }}
    "mssql.connectionGroups": [
        {
            "name": "ROOT",
            "id": "{{ .mssql.groupId }}"
        }
    ],
    "mssql.connections": [
        {
            "authenticationType": "SqlLogin",
            "connectTimeout": 30,
            "applicationName": "vscode-mssql",
            "applicationIntent": "ReadWrite",
            "profileName": "{{ .mssql.profileName }}",
            "server": "{{ .mssql.server }}",
            "user": "{{ .mssql.username }}",
            "password": "",
            "savePassword": true,
            "database": "",
            "trustServerCertificate": true,
            "groupId": "{{ .mssql.groupId }}",
            "id": "{{ .mssql.id }}",
            "commandTimeout": 30,
            "encrypt": "Mandatory",
            "profileSource": 0,
            "emptyPasswordInput": false
        }
    ],
{{- end }}
    "diffEditor.ignoreTrimWhitespace": false,
    "explorer.confirmDragAndDrop": false,
    "csharpier.enableDiagnostics": false,
    "[json]": {
        "editor.folding": true,
        "editor.foldingStrategy": "auto",
        "editor.showFoldingControls": "always"
    },
    "[javascript]": {
        "editor.defaultFormatter": "vscode.typescript-language-features",
        "editor.formatOnSave": false
    }
}